

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
  mat-form-field {
    display: block;
  }

  mat-card-header{
    padding-left: 120px;
    padding-bottom: 30px;
  }
  .title{
    font-size: 30px;
  }
  .btn{
    background-color: #2C98F0;
    color: white;
  }