
<mat-toolbar class="navbar">
    <mat-toolbar-row>
    <a class="logo" href="#"> <img src="../../../assets/logo.png" width="220px" alt="" class="logo"></a>
    <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu" class="example-icon" >
                {{username}}
            <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="onLogout()"  [class.spinner]="loading" [disabled]="loading">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log out </span>
      </button>
     
      <button mat-menu-item >
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
    </mat-menu>
     </mat-toolbar-row>