
<mat-toolbar class="navbar">
    <mat-toolbar-row>
    <span> <img src="../../../assets/logo.png" width="220px" alt="" class="logo"></span>
     
        <button mat-button [matMenuTriggerFor]="menu" class="login-btn" >
             Menu
    </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log out </span>
      </button>
     
      <button mat-menu-item >
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
    </mat-menu>
     </mat-toolbar-row>